<div class="column">
  <h2 class="title"><%= user.username%></h2>

  <div class="columns">
    <% photos.each do |photo| %>
      <div class="column">
        <figure class="image">
          <%=image_tag Flickr.url(photo)%>
        </figure>
      </div>
    <% end %>
  </div>
</div>